<header class="desktop-nav">
    <nav>
        <div id="left-nav">
          <a href="/"><img src="/images/tapetrack-160x160.png" srcset="/images/tapetrack-160x160.svg" class="nav-icon"></a>
          <h1>{{title}}</h1>
        </div>
        
        <div id="right-nav">
          {{!-- <a href="/"><i class="bi bi-house"></i> Home</a> --}}
        </div>
     </nav>
</header>