<div class="header-search-wrapper">
    <div class="mobile-header header-with-icon header">
        <div class="mobile-header-inner">
            <div class="arrow-icon disabled"><a href="" class="referrer"><i class="bi bi-arrow-left-short"></i></a></div>
            <h1 class="left-align title">{{title}}</h1>
        </div>
        <div id="buttons">
            <a href="/login" class="btn btn-2 login-nav">Log In</a>
            <a href="/register" class="btn btn-1 signup-nav">Sign Up</a>
        </div>
    </div>
    <div class="search">
        <div class="input-with-icon">
            <input type="text" class="search-input" id="search" name="search" placeholder="Album/Artist" required>
            <i class="bi bi-search album-search-btn" id="album-search-btn"></i>
        </div>
    </div>
</div>
