body {
    overflow: hidden;
}

.content {
    /* height: vh; */
    height: 90vh;
    padding-bottom: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

.section {
    margin: 2.5% 2.5% 0 2.5%;
    box-sizing: border-box;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.review-container-detailed {  
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    margin: 0 auto;
    /* margin-bottom: 15px; */
    grid-auto-flow: row;
    grid-template-areas:
        "cover-art info";
    width: 100%;
    /* aspect-ratio: 4 / 1; */
    background-color: var(--container-dark-tertiary);
    border: 2px solid var(--border-dark-secondary);
    border-radius: 15px;
    box-sizing: border-box;
}

.review-container-detailed:last-of-type {
    margin-bottom: 15px;
}

.info { 
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    padding: 10px 10px;
    color: var(--font-dark-secondary);

    h1, h2 {
        margin: 0;
        font-size: 1.15em;
    }

    h2 {
        font-size: .8em;
    }

    .ranking-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid var(--border-dark-secondary);
    }

    .review-album-name {
        font-weight: normal;
    }

    .review-text {
        flex-grow: 1;
    }

    .review-text p {
        margin: 0;
        font-style: italic;
        word-break:break-all;
    }
}

.review-ranking {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .25em;
    font-size: 1em;
    flex-grow: 1;

    i {
        font-size: 1em;
    }
}

.album-artist {
    font-style: italic;
}

.ranking-username {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.readmore {
    font-weight: bold;
    font-style: normal;
}

.section-recents {
    display: none;
}

.section-filter {
  display: none;
  
  i {
    color: var(--accent-dark-primary);
  }
}

.user-review {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 0 0 15px 0;
    box-sizing: border-box;

    h4 {
        font-size: 1.15em;
        color: var(--font-dark-username);
        /* text-decoration: underline  dotted 1px; */
    }

    p {
        margin: 0px 0px;
    }
    
}

.user-review:not(:last-of-type) {
    border-bottom: 1px solid var(--border-dark-secondary);
}

.section-reviews {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 5px;
}

@media screen and (min-width: 600px) {

    .content {
        width: 50%;
    }

    .section-reviews {
        margin-bottom: 15px;
    }
    
    .header {
        display: none;
    }

    .albumList {
        .review-container {
            width: 10vw;
            margin-bottom: 15px;
        }
    }

    .review-container-detailed {
        cursor: pointer;
    }

    .review-container-detailed .info {
    margin: 0.5em;
    #albumName {
        font-size: 1.5em;
    }
    #albumDesc {
        margin-top: 0.10em;
        font-size: 1em;
    }
    
    }

    .review-container-detailed .details {
        margin-right: 1.1em;
    }

}