.section {
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
        margin: 0;
        font-size: 1.5em;
    }
}



.album-header {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 1.5em
    }

    h2 {
        font-size: 1em;
    }
}

.album-header-top {
    display: flex;
    justify-content: space-between;
}

.album-info:only-child {
    justify-self: flex-start
}

.save-lists {
    display: flex;
    cursor: pointer;
    gap: .5em;
    align-items: center;
    font-size: 1.75em;
    margin-right: 5px;
}

.album-ranking {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;

    i {
        font-size: 2em;
    }
}

.cover-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    aspect-ratio: 1;
    box-sizing: border-box;
    background-color: var(--background-dark);
    border-radius: 15px;
    margin-top: 15px;
}

.album-cover {
    margin: 0 15px;
}

.cover-art {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-tracks, .album-reviews {
    margin: 20px;
    box-sizing: border-box;
    /* box-sizing: border-box;
    border-bottom: 1px solid var(--border-dark-primary); */
    
}

#trackList, #userReviewsList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 5px;
}

.track {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed var(--border-dark-secondary);

    h4 {
        margin: 2px;
        font-size: 1em;
    }
}

.user-review {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 0 0 15px 0;
    box-sizing: border-box;

    h4 {
        font-size: 1.15em;
        color: var(--font-dark-username);
        /* text-decoration: underline  dotted 1px; */
    }

    p {
        margin: 0px 0px;
    }
    
}

.user-review:not(:last-of-type) {
    border-bottom: 1px solid var(--border-dark-secondary);
}

.ranking-username {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.like-dislike, .likes, .dislikes {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.like-dislike {
    gap: 15px;
    align-self: flex-end;
}

.more-reviews {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    a {
        display: flex;
        flex-direction: row;
        gap: 5px;
        text-decoration: none;
        align-items: center;
        color: var(--font-dark-primary);
    }

    .icon {
        font-size: 2em;
    }

    
}

.your-review {
    
    
    margin-bottom: 50px;
    display: none;
    flex-direction: row;
    justify-content: flex-start;

    a {
        display: flex;
        flex-direction: row;
        gap: 5px;
        text-decoration: none;
        align-items: center;
        color: var(--font-dark-primary);
    }

    .icon {
        font-size: 2em;
    }

    
}



.popup-wrapper {
    display: none;
}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px 0 15px;

    i {
        font-size: 36px;
    }
}

.popup {
    display: flex;
    flex-direction: column;

    .lists-buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin: 0 15px;
        justify-content: flex-end;
    }

    .new-list, .close-list {
        color: var(--font-dark-link);
        cursor: pointer;
    }

    .no-lists {
        margin-left: 15px;
        /* display: none; */
        color: var(--font-dark-popup-2)
    }

    .list-name-default {
        font-style: italic;
    }
    
}

.popup-2 {
    padding-bottom: 8vh;
}

#listList {
    width: 95%;
    margin: 0 2.5%;
    overflow-y: scroll;
}

.user-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 15px;
    font-size: 1.25em;
    margin: 15px 0;
    border-bottom: 1px dotted var(--border-dark-secondary);

    .list-checkbox {
        height: 1.25em;
        width: 1.25em;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .list-name-wrapper {
        flex-grow: 1;
        height: 1.25em;
    }
    
    .list-name {
        width: 100%;
        box-sizing: border-box;
        border: none;
        background: none;
        color: var(--font-dark-primary);
        font-size: 1em;
        margin: 0;
    }
}

#albumError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
    }
}

@media screen and (min-width: 825px) {

    .cover-art {
        width: 100%;
    }

    .cover-wrapper {
        width: 25%;
        height: 25%;
    }

    .album-page > .section {
        margin: 20px 50px;
    }
}
