.header-wide {
    .header-inner {
        margin: 15px 12px;
    }
}

.section {
    margin: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.no-groups {
    margin-top: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;
        width: 90%;
    }

    .btn {
        width: 45%;
        margin: 0;
        padding: 15px 30px;
        /* margin: 10px; */
    }
}

/* Styling for larger screen sizes */
@media screen and (min-width: 825px) {
    .buttons {
        align-items: center;
        justify-content: center;
        margin: 15px;
    }
}