<link rel="stylesheet" href="/css/groupChat.css">
<script src="/js/groupChat.js" type="module"></script>


<div id="chatContainer"></div>

<div id="chatInputContainer">
    <input type="text" id="message" placeholder="Message group" />
    <button id="send">Send</button>
</div>